[submodule "vips_driver"]
	path = vips_driver
	url = git@gitlab.com:vips-ros2-rover/vips-driver.git
[submodule "rover_hardware_interface"]
	path = rover_hardware_interface
	url = git@gitlab.com:vips-ros2-rover/rover-hardware-interface.git
